/* Common styles */
@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Monoton&display=swap');

* {
	list-style-type: none;
	text-decoration: none;
	box-sizing: border-box;
	font-family: 'Bellota Text', sans-serif;
	font-weight: 400;
	font-style: normal;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

.section-heading {
	font-size: 10rem;
	font-weight: bold;
	text-transform: uppercase;
	color: #999;
	text-align: center;
	opacity: 0.8;
	text-shadow: 2rem 2rem 4rem #aaa;
}
/* End of Common styles */

/* Section1 */
.section1 {
	position: relative;
	width: 100%;
	height: 100vh;
	background-color: #fff;
	overflow: hidden;
}

.floating-bg {
	position: absolute;
	width: 150vw;
	aspect-ratio: 1/1;
	background-color: rgba(50, 231, 255, 0.8);
	top: -125vw;
	left: calc(50% - 75vw);
	border-radius: 45%;
	animation: rotate 30s infinite;
}

.floating-bg::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: rgba(50, 231, 255, 0.1);
	border-radius: 40%;
	animation: rotate 30s infinite;
}

.navbar {
	position: relative;
	display: flex;
	justify-content: space-evenly;
	top: 4rem;
	z-index: 1;
}

.navbar-link {
	width: 1.5rem;
	word-wrap: break-word;
	font-size: 2.2rem;
	font-weight: 700;
	letter-spacing: 0.2rem;
	color: #fff;
	transition: all 0.5s;
}

.navbar-link:hover {
	width: 15rem;
	background-color: rgba(255, 255, 255, 0.2);
	transition: all 2.5s;
}

.section1-heading {
	position: absolute;
	width: 83rem;
	top: 18vw;
	left: 50%;
	font-size: 8rem;
	font-family: 'Monoton', sans-serif;
	color: #fff;
	text-align: center;
	background-color: #fff;
	text-shadow: 0.3rem 0.3rem 0.3rem #888;
	border-radius: 1rem;
	transform: translateX(-50%);
	opacity: 0.9;
}

.logo {
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translateX(-50%);
}

.logo i {
	font-size: 15rem;
	color: rgba(50, 231, 255, 0.8);
	text-shadow: 0.1rem 0.1rem 0.2rem #ddd, -0.1rem -0.1rem 0.2rem #ddd;
}

@keyframes rotate {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}
/* End of Section1 */

/* Section2 */
.section2 {
	display: flex;
	position: relative;
	width: 100%;
	height: 100vh;
	flex-direction: column;
	justify-content: space-around;
}

.customers-wrapper {
	display: flex;
	height: 70%;
	justify-content: space-evenly;
	align-items: center;
}

.customer {
	display: flex;
	width: 35rem;
	height: 50rem;
	flex-direction: column;
	align-items: center;
	background-color: #eee;
	border-radius: 1rem;
	padding: 2rem;
	box-shadow: 1rem 1rem 2rem #ddd, -1rem -1rem 2rem #eee;
	transition: box-shadow 0.5s;
}

.customer:hover {
	box-shadow: 2rem 3rem 3rem #ddd, -2rem -2rem 3rem #eee;
}

.customer:first-child {
	align-self: flex-end;
}

.customer:last-child {
	align-self: flex-start;
}

.fa-quote-left {
	font-size: 4rem;
	color: #f08e0f;
}

.customer-text {
	font-size: 1.8rem;
	margin: 2.5rem 0;
	text-align: justify;
}

.customer-rating i {
	font-size: 2rem;
	color: #f08e0f;
}

.customer-text::first-letter {
	margin-left: 1rem;
}

.customer-img {
	width: 10rem;
	aspect-ratio: 1/1;
	object-fit: cover;
	margin: 2rem 0;
	border-radius: 50%;
}

.customer-name {
	font-size: 2rem;
	font-weight: 700;
}
/* End of Section2 */

/* Section3 */
.section3 {
	display: flex;
	width: 100%;
	height: 100vh;
	flex-direction: column;
	justify-content: space-between;
	padding: 5rem 0;
}

.team-wrapper {
	display: flex;
	height: 70%;
	justify-content: space-evenly;
	align-items: center;
}

.team-member {
	position: relative;
	width: 35rem;
	background-color: #fffeee;
	padding: 1rem 1rem 2rem 1rem;
	box-shadow: 1rem 1rem 2rem #ddd, -1rem -1rem 2rem #eee;
	opacity: 0.7;
	transition: opacity 0.5s;
}

.team-member:hover {
	opacity: 1;
}

.team-member:first-child {
	align-self: flex-start;
}

.team-member:last-child {
	align-self: flex-end;
}

.team-member-img {
	width: 100%;
	border-radius: 1rem;
}

.team-member-name {
	font-size: 2.3rem;
	font-weight: 700;
	color: #796717;
	margin-top: 2rem;
}

.team-member-name span {
	font-size: 1.7rem;
}

.team-member-skills {
	display: flex;
	justify-content: space-between;
	margin: 1rem 0 2rem 0;
}

.team-member-skills li {
	font-size: 1.5rem;
	color: #505050;
}

.projects-btn {
	font-size: 1.5rem;
	letter-spacing: 0.2rem;
	color: #fff;
	background-color: #fab34a;
	padding: 0.5rem 1.5rem;
	border-radius: 5rem;
}

.story {
	position: absolute;
	display: flex;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 50rem 0 50rem 50rem;
	background-color: rgba(253, 69, 69, 0.9);
	padding: 2rem;
	transform: scale(0);
	transition: transform 0.5s;
	transform-origin: top right;
}

.story.active {
	border-radius: 0;
	transform: scale(1);
}

.story-heading {
	font-size: 4rem;
	font-weight: 700;
	color: #fff;
	margin-bottom: 2rem;
}

.story-paragraph {
	font-size: 1.8rem;
	color: #eee;
	text-align: justify;
	letter-spacing: 0.1rem;
	text-indent: 2rem;
}

.story-btn {
	display: flex;
	align-items: center;
	position: absolute;
	width: 4rem;
	aspect-ratio: 1/1;
	top: -1rem;
	right: -1rem;
	background-color: #222;
	border-radius: 50%;
	padding: 0.5rem;
	cursor: pointer;
	transition: transform 0.5s;
	z-index: 1;
}

.story-btn.active {
	transform: rotate(405deg);
}

.story-btn-line {
	width: 100%;
	height: 0.1rem;
	background-color: #fff;
}
/* End of Section3 */

/* Section4 */
.section4 {
	display: flex;
	width: 100%;
	height: 130vh;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.form-container {
	display: flex;
	width: 80%;
	height: 40%;
	align-items: center;
	justify-content: space-evenly;
	background-color: #e5e9ff;
	border-radius: 0.5rem;
	box-shadow: 0.3rem 0.3rem 0.4rem #ccc, -0.1rem -0.1rem 0.4rem #ccc;
	perspective: 100rem;
}

.form-img {
	width: 55rem;
	background-color: rgba(50, 231, 255, 0.8);
	border-radius: 0.5rem;
	box-shadow: -3rem 3rem 4rem #aaa;
	opacity: 0.8;
	padding: 5rem;
	transform: rotateY(20deg);
	transition: all 0.5s;
}

.form-img:hover {
	transform: translateY(-2rem) rotateY(20deg);
	box-shadow: -5rem 5rem 7rem #aaa;
}

.contact-form {
	display: flex;
	width: 45rem;
	flex-direction: column;
	background-color: #fff;
	border-radius: 0.5rem;
	box-shadow: 3rem 3rem 4rem #aaa;
	padding: 3rem;
	transform: rotateY(-20deg);
	transition: all 0.5s;
}

.contact-form:hover {
	transform: translateY(-2rem) rotateY(-20deg);
	box-shadow: 5rem 5rem 7rem #aaa;
}

.contact-form input,
.contact-form textarea {
	font-size: 1.3rem;
	letter-spacing: 0.1rem;
	border: none;
	border-radius: 2rem;
	box-shadow: inset 0.1rem 0.1rem 0.2rem #ddd, inset -0.1rem -0.1rem 0.2rem #ddd;
	padding: 1rem;
	margin: 1rem;
}

.contact-form textarea {
	min-width: 70%;
	max-width: 100%;
	min-height: 10rem;
	max-height: 15rem;
	resize: none;
}

.contact-form input[type='submit'] {
	background-color: rgba(109, 238, 255, 0.6);
	color: #fff;
	font-weight: bolder;
	letter-spacing: 0.5rem;
	transition: background-color 0.5s;
	cursor: pointer;
}

.contact-form input[type='submit']:hover {
	background-color: #32e7ff;
}

.copyright {
	font-size: 2rem;
	letter-spacing: 0.2rem;
	color: #444;
	margin-top: 5rem;
}
/* End of Section4 */

/* Scroll-up button */
.scroll-up-btn {
	position: fixed;
	display: grid;
	width: 5rem;
	aspect-ratio: 1/1;
	place-items: center;
	bottom: 2.5rem;
	right: 2.5rem;
	border-radius: 50%;
	font-size: 2.4rem;
	color: #fff;
	background-color: rgba(109, 238, 255, 0.6);
	transition: background-color 0.5s;
}

.scroll-up-btn:hover {
	background-color: #32e7ff;
}
/* End of Scroll-up button */

/* Responsive */
@media (max-width: 1400px) {
	.floating-bg {
		top: -120vw;
	}
	.section1-heading {
		width: 70rem;
		top: 25vw;
		font-size: 6rem;
	}
	.navbar-link {
		font-size: 2rem;
	}
	.logo {
		top: 75%;
	}
	.logo i {
		font-size: 10rem;
	}
	.section-heading {
		font-size: 8rem;
		margin-bottom: 10rem;
	}
	.section2 {
		height: auto;
	}
	.customers-wrapper {
		flex-wrap: wrap;
	}
	.customer {
		margin: 5rem 10rem;
	}
	.section3 {
		height: auto;
	}
	.team-wrapper {
		flex-wrap: wrap;
	}
	.team-member {
		margin: 5rem 10rem;
	}
	.form-container {
		height: 60%;
	}
	.form-img {
		display: none;
	}
	.contact-form {
		transform: translateY(0);
	}
	.contact-form:hover {
		transform: translateY(-1rem);
	}
	.copyright {
		margin: 5rem 0 4rem 0;
	}
}

@media (max-width: 1140px) {
	.floating-bg {
		top: -110vw;
	}
	.section1-heading {
		font-size: 5rem;
		width: 60rem;
		top: 30vw;
	}
	.logo i {
		font-size: 9rem;
	}
}

@media (max-width: 950px) {
	.floating-bg {
		top: -100vw;
	}
	.section1-heading {
		top: 40vw;
	}
	.navbar {
		justify-content: space-around;
	}
}

@media (max-width: 750px) {
	html {
		font-size: 50%;
	}
	.floating-bg {
		top: -90vw;
	}
	.section1-heading {
		top: 48vw;
	}
	.section-heading {
		margin-bottom: 5rem;
	}
}

@media (max-width: 550px) {
	html {
		font-size: 45%;
	}
	.floating-bg {
		top: -70vw;
	}
	.section1-heading {
		width: 42rem;
		top: 65vw;
		font-size: 3.5rem;
	}
	.section-heading {
		font-size: 6rem;
	}
	.customer {
		margin: 5rem 0;
	}
	.team-member {
		margin: 5rem 0;
	}
	.section4 {
		height: auto;
	}
	.form-container {
		background-color: transparent;
		box-shadow: none;
	}
	.contact-form {
		box-shadow: 1rem 1rem 2rem #aaa;
	}
	.contact-form:hover {
		box-shadow: 2rem 2rem 3rem #aaa;
	}
	.copyright {
		font-size: 1.8rem;
		margin: 5rem;
		text-align: center;
	}
	.scroll-up-btn {
		bottom: 1rem;
		right: 1rem;
	}
}
/* End of Responsive */
